/*------------------------------------*\
    #COMMON-TAGS
\*------------------------------------*/

html {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 768px;
  max-width: 1200px;
  box-sizing: border-box;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

a:focus,
a:hover {
  color: #81b3d2;
}

img {
  max-width: 100%;
}


/*------------------------------------*\
    #COMMON-BLOCKS
\*------------------------------------*/

/*  #VISUALLY-HIDDEN  ----------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/*  #HEADER  -------------------------*/

.header {
  position: relative;
  z-index: 100;
}

/*  #NAVIGATION  ---------------------*/

.navigation__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 14px 6% 16px;
  list-style: none;
}

.navigation__item {
  flex-shrink: 0;
  width: 22.73%;
}

.navigation__item--right {
  text-align: right;
}

.navigation__item--logo {
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
}

.navigation__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.navigation__link[href]:focus,
.navigation__link[href]:hover {
  color: #81b3d2;
}

.navigation__link[href]:active {
  opacity: 0.3;
}

.navigation__link--current {
  color: #766357;
}

.navigation__link--logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}


/*------------------------------------*\
    #MAIN-PAGE
\*------------------------------------*/

/*  #BANNER  -------------------------*/

.banner {
  padding: 76px 6% 80px;
  text-align: center;
  background-color: #747276;
  background-image:
    url("../img/banner-background-bottom.png"),
    url("../img/banner-background.jpg");
  background-position:
    center bottom,
    center center;
  background-size:
    100% 57px,
    cover;
  background-repeat: no-repeat;
}

.banner__heading {
  margin: 0;
  margin-bottom: 56px;
}

.banner__image {
  display: block;
  margin: 0 auto;
}

.banner__image:nth-child(1) {
  margin-bottom: 52px;
}

/*  #ABOUT  --------------------------*/

.about {
  padding: 60px 0 0;
  text-align: center;
}

.about__heading {
  margin: 0;
  margin-bottom: 27px;
  padding: 0 6%;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.about__lead {
  margin-bottom: 50px;
  padding: 0 6%;
  font-size: 14px;
  line-height: 26px;
}

/*  #FEATURES  -----------------------*/

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  background-color: #eeeeee;
}

.features__item {
  position: relative;
  flex-grow: 1;
  order: 3;
  width: 33.33%;
  color: #333333;
  overflow: hidden;
}

.features__item:first-child {
  order: 1;
}

.features__item--big {
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
}

.features__item--left {
  padding-right: 66.66%;
}

.features__item--right {
  padding-left: 66.66%;
}

.features__item--second {
  order: 2;
}

.features__content {
  flex-grow: 1;
  width: 33.33%;
  padding: 50px 0 58px;
}

.features__content--blue {
  background-color: #81b3d2;
}

.features__heading {
  max-width: 155px;
  margin: 0 auto 22px;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features__item--big .features__heading {
  color: #ffffff;
}

.features__number {
  display: block;
  margin-bottom: 21px;
  padding: 0 12%;
}

.features__number::before,
.features__number::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 2px;
  margin: 0 6px;
  vertical-align: middle;
  background-color: #ffffff;
}

.features__text {
  margin: 0;
  padding: 0 12%;
}

.features__image {
  position: absolute;
  top: 50%;
  right: 0;
  width: 66.66%;
  height: auto;
  margin-top: -16.665%;
}

.features__image--first {
  left: 0;
}

/*  #CONDITIONS  ---------------------*/

.conditions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.conditions__item {
  position: relative;
  flex-grow: 1;
  width: 33.33%;
  padding: 162px 0 80px;
}

.conditions__item::before {
  content: "";
  position: absolute;
  top: 58px;
  right: 0;
  left: 0;
  height: 80px;
  background-position: center top;
  background-repeat: no-repeat;
}

.conditions__item--home::before {
  background-image: url("../img/icon-1.svg");
  background-size: 75px 72px;
  background-position: center 2px;
}

.conditions__item--food::before {
  background-image: url("../img/icon-2.svg");
  background-size: 74px 70px;
  background-position: center 4px;
}

.conditions__item--souvenirs::before {
  background-image: url("../img/icon-3.svg");
  background-size: 64px 76px;
}

.conditions__heading {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 12.5%;
  font-size: 21px;
  color: #000000;
}

.conditions__text {
  margin: 0;
  padding: 0 12.5%;
}

/*  #SEACH_HOTEL  --------------------*/

.search-hotel {
  position: relative;
  z-index: 100;
  padding: 50px 6% 0;
}

.search-hotel__text {
  margin: 0;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.search-hotel__text--bold {
  display: block;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotel__button {
  position: relative;
  z-index: 10;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  cursor: pointer;
  border: none;
  border-radius: none;
  box-shadow: none;
}

.search-hotel__button:focus,
.search-hotel__button:hover {
  background-color: #604e43;
}

.search-hotel__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel__form {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -284px;
}

/*  #SEACH_FORM  ---------------------*/

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 568px;
  padding: 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
}

.search-form--close {
  transform: scaleY(0);
}

.search-form__field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.search-form__field--small {
  width: 225px;
}

.search-form__field--padding {
  padding-left: 47px;
}

.search-form__wrapper {
  position: relative;
  margin-left: auto;
}

.search-form__input {
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding: 10px 13px;
  font: inherit;
  line-height: 1;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  border-radius: none;
  box-shadow: none;
  outline: none;
}

.search-form__input:hover {
  background-color: #ebebeb;
}

.search-form__input:focus {
  padding: 8px 11px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form__input--small {
  width: 114px;
  padding: 10px 38px;
  text-align: center;
}

.search-form__input--small:focus {
  padding: 8px 36px;
}

.search-form__button {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.search-form__button--calendar {
  top: 0;
  right: 0;
  background-image:
    url("../img/calendar.svg"),
    url("../img/calendar-hover.svg"),
    url("../img/calendar-active.svg");
  background-size:
      21px 22px,
      0 0,
      0 0;
}

.search-form__button--calendar:focus,
.search-form__button--calendar:hover {
  background-size:
    0 0,
    21px 22px,
    0 0;
}

.search-form__button--calendar:active {
  background-size:
    0 0,
    0 0,
    21px 22px;
}

.search-form__button--minus {
  top: 0;
  left: 0;
}

.search-form__button--minus::before {
  content: "";
  position: absolute;
  top: 17.5px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.search-form__button--minus:focus::before,
.search-form__button--minus:hover::before {
  background-color: #000000;
}

.search-form__button--minus:active::before {
  background-color: #81b3d2;
}

.search-form__button--plus {
  top: 0;
  right: 0;
}

.search-form__button--plus::before,
.search-form__button--plus::after {
  content: "";
  position: absolute;
  background-color: #a9a9a9;
}

.search-form__button--plus::before {
  top: 17.5px;
  left: 13.5px;
  width: 11px;
  height: 3px;
}

.search-form__button--plus::after {
  top: 13.5px;
  left: 17.5px;
  width: 3px;
  height: 11px;
}

.search-form__button--plus:focus::before,
.search-form__button--plus:hover::before,
.search-form__button--plus:focus::after,
.search-form__button--plus:hover::after {
  background-color: #000000;
}

.search-form__button--plus:active::before,
.search-form__button--plus:active::after {
  background-color: #81b3d2;
}

.search-form__submit {
  width: 100%;
  margin: 22px 0 0;
  padding: 16px;
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  border-radius: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.search-form__submit:focus,
.search-form__submit:hover {
  background-color: #669ec0;
}

.search-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
